@use 'hero';
@use 'eventos';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}

.text{
    color: #f9f9f9;
    
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
  
  }
  .show{
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
      transition: all 0.5s;
  }